/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
    margin-left: 10px;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* 左側選單*/


html,body {
  background: #f4f4f4;
  height: 100%;
}

header {
  /*height: 120px;*/
  /*background: #50b599;*/
}

.hamburger {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  /*background: #FF33FF;*/
  color: #A8A7A7;
  margin: 5px;
  border-radius: 5px;
}

.content {
  min-height: 100%;
  background: #f4f4f4;
  width: 320px;
}

.content-chat {
  min-height: 100%;
  background: #f4f4f4;
  width: 320px;
}

.content-relationship {
  min-height: 100%;
  background: #f4f4f4;
  width: 320px;
}

.content-marriage {
  min-height: 100%;
  background: #f4f4f4;
  width: 320px;
}

nav {
  width: 150px;
  position: absolute;
  top: 0;
  left: -311px;
}
ul {
  list-style: none;
}

li {
  padding: 5px;
}

/*.tab-text {*/
  /*text-decoration: none;*/
/*}*/


/* 用戶資料 */

.user_profile{
  background: #FFFFFF;
  border-radius: 3px;
  width: 320px;
  height: 95px;
  background: #FFFFFF;
/* border: 3px solid #000000; */
  border: 1px solid rgba(0,0,0,0.3);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;

  }

.user_profile_top {
 /*float:right;*/
  /*background: red;*/
  width: 210px;
  /*height: 120px;*/
  padding-left: 10px;
  padding-top: 10px;
}



.user_profile_top_button {
 /*position: absolute;*/
top: 60px;
width: 300px;
padding-left: 0px;
left: 20px;
margin-top: 0;
margin-bottom: 0;
display: inline-block;
border-top: 1px solid #e7e7e7;
}

 
.user_profile_top_button li{
  display: inline-block;
  margin: -2px 0px 0px 42px;
}



.user_profile_top_button i{
 margin-left: 13px;
 margin-top: 5px;
}



.user_profile_btn_right {
  height: 40px;
  width: 40px;
  color: #f1f1f1;
  /*padding: 0.5em 0.7em;*/
  /*margin-right: 1px;*/
  margin-left: 40px;
  border-radius: 50%;
  background: #FF33FF;
  display: inline-block;
  text-decoration: none;
  /*-webkit-box-shadow: inset 0px -2px #FF33FF;*/
  /*-moz-box-shadow: inset 0px -2px #FF33FF;*/
  /*box-shadow: inset 0px -2px #FF33FF;*/
}



.user_profile_btn_right i{
  text-align: center;
  margin-left: 13px;
  margin-top: 13px;
}

.female-icon {
  margin-left: 7px !important;
}

.male-icon{
  margin-left: 1px !important;
}


.user_profile img{
  border: 5px solid rgba(255, 0, 112, 0.6);
  max-width: 65px;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 45px;
  box-shadow: 0 1px 0px 0px rgba(0,0,0,.5), inset 0 0px 0px rgba(0,0,0,.65);
}





/* 配對名單 */


.match_profile {
  height: 100px;
  width:300px;
  background: #FFFFFF;
  /*border: 3px solid #000000;*/
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  /*behance*/
  /*box-shadow: 0 1px 0px 0px #f1f1f1, inset 0 0px 0px #f1f1f1;*/
  /*box-shadow: 0 1px 0px 0px rgba(0,0,0,.5), inset 0 0px 0px rgba(0,0,0,.65);*/
  /*border-radius: 10px;*/
  padding: 0px;
  /*margin: 0 auto ;*/
  position: relative;
  margin-top: 10px;
  border-radius: 3px;
  margin-left: 9px;
}

/* 配對名單  - 左側 */
.match_profile_left{
  float: left;
  /*background: blue;*/
  position: relative;
  width: 80px;
  /*height: 120px;*/
  text-align: center;
}




/* 配對名單  - 左側  - 個人照片*/

.match_profile_left img{
  position:absolute; 
  top:12px; 
  left:15px; 
  width: 70%
   }

.match_profile_left p{
  margin-top: 80px;
  margin-left: 10px; 
  font-size: 12px;
}

/* 配對名單  - 右側 */

.match_profile_right{
  float:right;
  /*background: red;*/
  width: 210px;
  /*height: 120px;*/
}

.match_profile_right p{
  margin-top: 10px; 
  font-size: 14px;
}


     /* 配對名單  - 右側 - 姓名、年齡、地區*/

.match_profile_name_age_lacation{
  margin-top: 10px; 
  font-size: 14px;
  font-weight: bold;
}

   /* 配對名單  - 右側 - 重要問題*/
.match_profile_Q{
  margin-top: 10px; 
  font-size: 14px;
}

 /* 配對名單  - 右側 - 今日問題、傳訊息、加入好友*/

.match_profile_right_button {
  position: absolute;
  top: 72px;
  width: 200px;
  padding-left: 0px;
  /*left: 60px;*/
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  border-top: 1px solid #e7e7e7;
}

 
.match_profile_right_button li{
  display: inline-block;
  margin: -3px 25px 0px 0px;
}



.match_profile_right_button i{
 margin-left: 13px;
 margin-top: 5px;
}


.btn {
  /*height: 40px;*/
  /*width: 40px;*/
  color: #A8A7A7;
  /*padding: 0.5em 0.7em;*/
  /*margin-right: 1px;*/
  /*border-radius: 50%;*/
  /*background: #FF8CFF;*/
  display: inline-block;
  text-decoration: none;
  /*-webkit-box-shadow: inset 0px -2px #FF33FF;*/
  /*-moz-box-shadow: inset 0px -2px #FF33FF;*/
  /*box-shadow: inset 0px -2px #FF33FF;*/
}




.btn:hover {
  color: #555;
}


/* 左側主選單 */

.main_nav_left_top{
  background: #FF8CFF;
  /*border-radius: 6px;*/
  width: 200px;
  height: 95px;
}

.main_nav_left_top img{
  border: 5px solid rgba(255, 0, 112, 0.6);
  max-width: 65px;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 45px;
  box-shadow: 0 1px 0px 0px rgba(0,0,0,.5), inset 0 0px 0px rgba(0,0,0,.65);
}

.main_nav_left {
  width: 200px; 
  /*max-height: 0px;*/
  /*position: relative;*/
  /*top: 0;*/
  /*left: -120px;*/
  text-align: left;
  /*margin: 0 auto;*/
}

.main_nav_left ul{
  /*height: 30px;*/
  width: 200px; 
  color: #f1f1f1;
  padding: 0.5em 0 0.5em 0;
  margin-bottom: 0px;
  margin-top: 0px;
  /*border-radius: 5px;*/
  background: #FF8CFF;
  display: inline-block;
  text-decoration: none;
  -webkit-box-shadow: inset 0px -2px #FF33FF;
  -moz-box-shadow: inset 0px -2px #FF33FF;
  box-shadow: inset 0px -2px #FF33FF;
}

.main_nav_left p{
  list-style: none;
  display: block;
  padding-top: 5px;
  margin-left: 0px;
  margin-bottom: 1px;
  margin-top: 0px;
  text-decoration: none;
  width: 200px;
  height: 30px;
  background: white;
  font-size: 14px;
 
 }

.main_nav_left a{
  list-style: none;
  display: block;
  text-decoration: none;
  margin-top: 5px;
  color: #000;

}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
