/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
    margin-left: 10px;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* 左側選單*/


html,body {
  /*background: #f4f4f4;*/
  /*background:#81D8D0;*/
  height: 100%;
}

header {
  /*height: 120px;*/
  /*background: #50b599;*/
}

.hamburger {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  /*background: #FF33FF;*/
  color: #A8A7A7;
  margin: 5px;
  border-radius: 5px;
}

.content {
  min-height: 100%;
  /*background: #f4f4f4;*/
  width: 320px;
}

.content-chat, .content-relationship, .content-marriage, .content-perfect, .content-questionnaire, .content-question   {
  min-height: 100%;
  /*background: #f4f4f4;*/
  /*width: 320px;*/
}




nav {
  width: 250px;
  position: absolute;
  top: 0;
  left: -311px;
}
ul {
  list-style: none;

}

li {
  padding: 5px;
}



/* 用戶資料 */

.user-profile{
  background: #FFFFFF;
  border-radius: 3px;
  width: 320px;
  height: 95px;
  /* border: 3px solid #000000; */
  border: 1px solid rgba(0,0,0,0.3);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;

  }

.user-profile a{
  height: 40px;
  width: 40px;
  color: #A8A7A7;
  border-radius: 50%;
  /*background: #FF33FF;*/
  display: inline-block;
  text-decoration: none;
  /*-webkit-box-shadow: inset 0px -2px #FF33FF;*/
  /*-moz-box-shadow: inset 0px -2px #FF33FF;*/
  /*box-shadow: inset 0px -2px #FF33FF;*/
}

.fixed-items{
  margin-left: 225px;
  color: #A8A7A7;
}


.fixed-items-relationship{
  margin-left: 0px;
  color: #A8A7A7;
}

.user-profile > .bottom {
   width: 280px;
   margin: 15px auto;
   text-align: center;
  /*border-top: 1px solid #e7e7e7;*/
}



.user-profile > .bottom a{
 /*position: absolute;*/
/*top: 60px;*/
width: 80px;
height: 23px;
text-align: center;
margin-left: 0px;
display: inline-block;
border: 1px solid #e7e7e7;
color: #A8A7A7;
border-radius: 3px;
}



.female-icon {
  margin-left: 7px !important;
}

.male-icon{
  margin-left: 1px !important;
}


.user_profile img{
  border: 5px solid rgba(255, 0, 112, 0.6);
  max-width: 65px;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 45px;
  box-shadow: 0 1px 0px 0px rgba(0,0,0,.5), inset 0 0px 0px rgba(0,0,0,.65);
}





/* 配對名單 */


.match-profile {
  height: 100px;
  width:300px;
  background: #FFFFFF;
  /*border: 3px solid #000000;*/
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  /*behance*/
  /*box-shadow: 0 1px 0px 0px #f1f1f1, inset 0 0px 0px #f1f1f1;*/
  /*box-shadow: 0 1px 0px 0px rgba(0,0,0,.5), inset 0 0px 0px rgba(0,0,0,.65);*/
  /*border-radius: 10px;*/
  padding: 0px;
  margin: 10px auto ;
  position: relative;
  border-radius: 3px;
}

/* 配對名單  - 左側 */
.match-profile > .left{
  float: left;
  position: relative;
  width: 80px;
  text-align: center;
}




/* 配對名單  - 左側  - 個人照片*/

.left img{
  position:absolute; 
  top:12px; 
  left:15px; 
  width: 70%;
  border-radius: 3px;
}

.left p{
  margin-top: 77px;
  margin-left: 6px; 
  font-size: 12px;
}


/* 配對名單  - 右側 */

.match-profile > .right{
  float:right;
  width: 210px;
}

/* 配對名單  - 右側 - 姓名、年齡、地區*/

.name-age-location{
  margin-top: 10px; 
  margin-bottom: 0px; 
  font-size: 14px;
  font-weight: bold;
}

/* 配對名單  - 右側 - 重要問題*/

.important-Q{
  margin-top: 8px; 
  font-size: 14px;
}



 /* 配對名單  - 右側 - 今日問題、傳訊息、加入好友*/


.match-profile > .right >.bottom {
 
  width: 200px;
 
  padding-top: 3px;
  
}



.match-profile > .right >.bottom > .btn{
 /*position: absolute;*/
/*top: 60px;*/
width: 60px;
text-align: center;
display: inline-block;
border: 1px solid #e7e7e7;
border-radius: 3px;
color: #A8A7A7;
}






.btn {
  /*height: 40px;*/
  /*width: 40px;*/
  color: #A8A7A7;
  /*padding: 0.5em 0.7em;*/
  /*margin-right: 1px;*/
  /*border-radius: 50%;*/
  /*background: #FF8CFF;*/
  display: inline-block;
  text-decoration: none;
  /*-webkit-box-shadow: inset 0px -2px #FF33FF;*/
  /*-moz-box-shadow: inset 0px -2px #FF33FF;*/
  /*box-shadow: inset 0px -2px #FF33FF;*/
}




.btn:hover {
  color: #555;
}

/* 問題集 */


.Qbook {
  height: 100px;
  width:300px;
  background: #FFFFFF;
  /*border: 3px solid #000000;*/
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  /*behance*/
  /*box-shadow: 0 1px 0px 0px #f1f1f1, inset 0 0px 0px #f1f1f1;*/
  /*box-shadow: 0 1px 0px 0px rgba(0,0,0,.5), inset 0 0px 0px rgba(0,0,0,.65);*/
  /*border-radius: 10px;*/
  padding: 0px;
  margin: 10px auto ;
  position: relative;
  border-radius: 3px;
}

.Qbook .left{
  float: left;
  position: relative;
  width: 80px;
  text-align: center;
  margin-top: 4px;
}



.Qbook .right{
  float:left;
  width: 210px;
  
}

.Qbook a {
 position: absolute; 
 top: 12px;
 left:15px; 
width: 56px;
height: 46px;
text-align: center;
/*margin-left: 0px;*/
display: inline-block;
border: 1px solid #e7e7e7;
color: #A8A7A7;
border-radius: 3px;
padding-top: 10px;

}

.Qbook .right p {
margin-top: 6px;
font-size: 14px;
}




/* 問券 */


.questionnaire {
  height: 30px;
  width:300px;
  background: #FFFFFF;
  /*border: 3px solid #000000;*/
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  /*behance*/
  /*box-shadow: 0 1px 0px 0px #f1f1f1, inset 0 0px 0px #f1f1f1;*/
  /*box-shadow: 0 1px 0px 0px rgba(0,0,0,.5), inset 0 0px 0px rgba(0,0,0,.65);*/
  /*border-radius: 10px;*/
  padding: 0px;
  margin: 10px auto ;
  position: relative;
  border-radius: 3px;
}

.questionnaire .left{
  float: left;
  position: relative;
  width: 40px;
  text-align: center;
  margin-top: 4px;
}



.questionnaire .right{
  float:left;
  /*width: 210px;*/
  height: 100%;
}

.questionnaire a {
 position: absolute; 
 top: 12px;
 left:15px; 
width: 56px;
height: 46px;
text-align: center;
/*margin-left: 0px;*/
display: inline-block;
border: 1px solid #e7e7e7;
color: #A8A7A7;
border-radius: 3px;
padding-top: 10px;

}

.questionnaire .right p {
margin: 5px auto;
font-size: 14px;
}





/* 問題 */

.content-question .details{
  overflow:hidden;
  min-height:30px;
  width:300px;
  background: #FFFFFF;
  /*border: 3px solid #000000;*/
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  /*behance*/
  /*box-shadow: 0 1px 0px 0px #f1f1f1, inset 0 0px 0px #f1f1f1;*/
  /*box-shadow: 0 1px 0px 0px rgba(0,0,0,.5), inset 0 0px 0px rgba(0,0,0,.65);*/
  /*border-radius: 10px;*/
  padding: 0px;
  margin: 10px auto ;
  position: relative;
  border-radius: 3px;
  
}

.content-question .details .left{
  float: left;
  position: relative;
  width: 40px;
  text-align: center;
  margin-top: 4px;

}

.content-question .details .right{
  float:left;
  width: 240px;
  height: 100%;
  
}

.content-question .details .right p {
margin: 5px auto;
font-size: 14px;
border-bottom: 1px;
}



.content-question .answers {
  overflow:hidden;
  min-height:30px;
  width:260px;
  background: #FFFFFF;
  /*border: 3px solid #000000;*/
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  /*behance*/
  /*box-shadow: 0 1px 0px 0px #f1f1f1, inset 0 0px 0px #f1f1f1;*/
  /*box-shadow: 0 1px 0px 0px rgba(0,0,0,.5), inset 0 0px 0px rgba(0,0,0,.65);*/
  /*border-radius: 10px;*/
  padding: 0px;
  margin: 1px auto ;
  position: relative;
  border-radius: 3px;
  
}



.content-question .answers .left{
  float: left;
  position: relative;
  width: 40px;
  text-align: center;
  margin-top: 4px;

}



.content-question .answers .right{
  float:left;
  width: 150px;
  height: 100%;
  
}

.content-question .answers a {
 /*position: absolute; */
 /*top: 12px;*/
 /*left:15px; */
 /*width: 56px;*/
 /*height: 46px;*/
 /*text-align: center;*/
 /*margin-left: 0px;*/
 /*display: inline-block;*/
 /*border: 1px solid #e7e7e7;*/
 /*color: #A8A7A7;*/
 /*border-radius: 3px;*/
 /*padding-top: 10px;*/
}

.content-question .answers .right p {
margin: 5px auto;
font-size: 14px;
border-bottom: 1px;
}


/* 左側主選單 */

.main_nav_left_top{
  background: #E7E6E7;
   /*background:#81D8D0;*/
  /*background: #FF8CFF;*/
  /*border-radius: 6px;*/
  width: 100%;
  height: 95px;
  border: 1px solid rgba(0,0,0,0.3);
}

.main_nav_left_top img{
  border:4px solid rgba(138, 137, 137, 0.6);
  /*border: 5px solid rgba(255, 0, 112, 0.6);*/
  max-width: 65px;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
  box-shadow: 0 1px 0px 0px rgba(0,0,0,.5), inset 0 0px 0px rgba(0,0,0,.65);
}

.main_nav_left {
  width: 100%; 
  /*max-height: 0px;*/
  /*position: relative;*/
  /*top: 0;*/
  /*left: -120px;*/
  text-align: left;
  /*margin: 0 auto;*/
}

.main_nav_left ul{
  /*height: 30px;*/
  width: 100%; 
  /*color: #646464;*/
  /*color: #f1f1f1;*/
  padding: 0.5em 0 0.5em 0;
  margin-bottom: -1px;
  /*margin-top: 0px;*/
  /*border-radius: 5px;*/
  /*background: #FF8CFF;*/
  display: inline-block;
  text-decoration: none;
  border: 1px solid rgba(0,0,0,0.3);
  font-size: 14px;
  font-weight: bold;
  text-shadow: none;
  /*-webkit-box-shadow: inset 0px -2px #FF33FF;*/
  /*-moz-box-shadow: inset 0px -2px #FF33FF;*/
  /*box-shadow: inset 0px -2px #FF33FF;*/
  background: #f4f4f4;
  border-top-right-radius: 5px;
}

.main_nav_left p{
  list-style: none;
  display: block;
  padding-top: 5px;
  margin-left: 0px;
  margin-bottom: -1px;
  margin-top: 0px;
  text-decoration: none;
  width: 100%;
  height: 30px;
  background: white;
  font-size: 14px;
  border: 1px solid rgba(0,0,0,0.3);
   
 }


 .last {
  list-style: none;
  display: block;
  padding-top: 5px;
  margin-left: 0px;
  margin-bottom: 1px;
  margin-top: 0px;
  text-decoration: none;
  width: 100%;
  height: 30px;
  background: white;
  font-size: 14px;
  border: 1px solid rgba(0,0,0,0.3);
  border-bottom-right-radius: 5px;
   
 }

.main_nav_left a{
  list-style: none;
  display: block;
  text-decoration: none;
  margin-top: 5px;
  color: #000;

}

-----------------------------------------------




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
